.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

::ng-deep mat-sidenav{
  border-radius: 30px 0 0 30px !important;
}

.custom-SM{
  padding:25px !important;
}

.custom-SM-back{
  padding:25px !important;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.active{
  background-color: rgb(164, 202, 254);
}
