<div class="absolute left-[50%] top-[10%] -translate-x-[50%] flex flex-col gap-10">
  <div class="test">
    <p class="" [routerLink]="['/test']" routerLinkActive="router-link-active">Google Form Based Test</p>
    <p class="">Website Based Test</p>
  </div>

  <div class="material">
    <p class="" [routerLink]="['/study']" routerLinkActive="router-link-active">Study Materials</p>
    <p class="">Blogs</p>
    <p class="">Tips and Tricks</p>
    <p class="" [routerLink]="['/syllabus']" routerLinkActive="router-link-active">Syllabus</p>
  </div>

</div>
