<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
  <!-- This dialog showcases the title, close, content and actions elements. -->
  <!-- <form class="example-form" [formGroup]="myForm">
    <mat-form-field class="example-full-width">
      <mat-label>Secret Key</mat-label>
      <input matInput placeholder="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
