<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav [mode]="'over'" [position]="'end'" class="w-[40%] rounded-[100px]">
    <div class="bg-blue-200 flex justify-center h-[10%] items-center" *ngIf="!isMediaChecked">
      <form class="example-form" [formGroup]="myForm">
        <mat-radio-group aria-label="Select an option" formControlName="pass" (change)="getWhichOne()">
          <mat-radio-button value="url">WEB</mat-radio-button>
          <mat-radio-button value="pdf">PDF</mat-radio-button>
        </mat-radio-group>
        <!-- <button mat-raised-button ((change))="getWhichOne()">Verify</button> -->
      </form>
    </div>
    <div class="px-[5%] py-[5%] flex flex-col gap-5" *ngIf="whichOne=='pdf'">
      <button mat-raised-button color="primary" class="" (click)="apiHitDriveSecureURLVerify();openNewTab(0)">CAT Syllabus Shiksha Website</button>
      <button mat-raised-button color="primary" class="" (click)="apiHitDriveSecureURLVerify();openNewTab(1)">CAT Syllabus Career Launcher</button>
    </div>
    <div class="px-[5%] py-[5%] flex flex-col gap-5" *ngIf="whichOne=='url'">
      <button mat-raised-button color="primary" class="" (click)="openNewTab(0)">CAT Syllabus Byjus</button>
      <button mat-raised-button color="primary" class="" (click)="openNewTab(1)">Career Launcher Syllabus</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="mx-[10%] my-[4%] flex flex-col gap-5">
      <div class="flex flex-row gap-5 justify-between">
        <button mat-raised-button [color]="'accent'"  class="text-[1.5em] custom-SM" (click)="sidenav.toggle()">Syllabus</button>
        <button mat-raised-button [color]="'primary'"  class="text-[1.5em] custom-SM-back" [routerLink]="'/classify'" routerLinkActive="router-link-active">&lt;-</button>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
